#-------------------------------------------------------------------------------
#
# Git Ignore Config, https://git-scm.com/docs/gitignore.
#
#-------------------------------------------------------------------------------

# Composer dependencies
/vendor/

# NPM dependencies
/node_modules/

# Test junk
/*.cache
