#-------------------------------------------------------------------------------
#
# Prettier Ignores, https://prettier.io/docs/en/ignore.html
#
#-------------------------------------------------------------------------------

# NPM dependencies
/node_modules/

# Composer dependencies
/vendor/

# Generated code
/package-lock.json
/composer.lock
